.user {
  text-align: center;
  width: min(960px, 75vw);
  margin: 0 auto;
  filter: drop-shadow(2px 3px 5px #000);
  border-radius: 5px;
  background-color: #fff;
  &__imgWrapper {
    display: inline-block;
    border: 2px solid #242424;
    padding: 2px;
    border-radius: 50%;
    width: 126px;
    height: 126px;
    overflow: hidden;
    margin-top: calc(-1 * 125px / 2);
    background-color: #fff;
    box-sizing: border-box;
  }
  &__img {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__name {
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 10px;
    display: block;
  }
  &__address {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  &__col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    text-align: left;
    strong {
      text-align: right;
    }
    a {
      color: inherit;
    }
  }
  &__map {
    margin-top: 15px;
  }
}